<footer class="footer">
  <small>
    The <a href="http://www.yajima.top">Yajima Blog</a>
    by <a href="http://weibo.com/2166947670/">Atsuleng_SamA</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>